/* Importing Ubuntu font family from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

body {
    background-color: #0f0f0f;
    font-family: 'Ubuntu', sans-serif;
}

.HeadingText {
    font-weight: bold;
    color: #fff;
    border-bottom: 1px solid #fff;
    width: 92vw;
    display: flex;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.Backgroundimagebox {
    width: 30vw;
    height: max-content;
    display: flex;
    margin: auto;
    border-radius: 10px;
    flex-direction: column;
    /* Change Image path for Ambient effect */
    background-image: url('Image.png');
    border-radius: 8px;
    /* We can add width & height for background Image but I'm not giving width & height*/
    /* background-size: 8rem 8rem; */
}

.TextBox img {
    width: 25vw;
    display: flex;
    margin: auto;
    border-radius: 8px;
}

.TextBox {
    width: 30vw;
    height: max-content;
    /* Adjust blur for Text clarity */
    backdrop-filter: blur(150px);
    padding: 32px 22px;
    border-radius: 8px;
}

.TextBox h1, h3 {
    color: #fff;
    font-weight: bold;
}

.Firstvideo {
    width: 80vw;
    height: 30vw;
    display: flex;
    margin: auto;
    border-radius: 15px;
}

.redbox {
    margin-top: 2rem;
    width: 80vw;
    height: 30vw;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 30vw;
    /* Adjust blur for Video clarity */
    backdrop-filter: blur(500px);
    border-radius: 15px;
}

/* Media Queries for Making Responsive Design */

@media screen and (max-width: 1030px) {

    .HeadingText {
        text-align: center;
        width: 100vw;
    }

    .Backgroundimagebox {
        width: 90vw;
    }

    .TextBox img {
        width: 80vw;
    }

    .TextBox {
        width: 80vw;
        padding: 22px 22px;
    }

}